body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
}

a {
    display: inline-block;
    margin-top: 15px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
nav {
    background-color: #2c3e50;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}